{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'loja/css/geral.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Voltar para a home</a>
        <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>
        <a href="{% url 'cadastrar_fornecedor' %}">Cadastrar Fornecedor</a>
        <a href="{% url 'listar_fornecedores' %}">Fornecedores</a>
        <a href="{% url 'listar_produtos' %}">Produtos</a>
    </header>
    <main>
        <h1>Categorias Cadastradas</h1>
        <ul>
            {% for categoria in categorias %}
            <li>{{ categoria.nome }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>